body{
    font-size: 30px;
    background-color: rgb(10,200,200);

    margin: 0;
}

header{
    text-align: center;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    font-size: 3vw;
    height: 3.5vw;
    background-color: rgb(0,0,0,0.4);
    border-radius: 2vw;
}
.left{

    text-align: left;
    margin-right: auto;

}
.right{

    text-align: left;
    margin-left: auto;

}
.pojemnik_plus{
    background-color: rgb(0,100,100,0.4);
    color: white;
    width: 0vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
}
.pojemnik_minus{
    background-color: rgb(0,100,100,0.4);
    text-align: right;
    color: black;
    width: 45vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;  
}
.pojemnik{
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2vw;
    height: 2.5vw;
    margin-top: 0.5vw;
}

.bottom{
    margin-bottom:14vw
}
